.main {
  margin-top: 163px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1300px) {
  .main {
    margin-top: 233px;
  }
}

@media (max-width: 620px) {
  .main {
    margin-top: 87px;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
